# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-ast
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: check-merge-conflict # Check for files that contain merge conflict strings
      # - id: fix-encoding-pragma  # Remove the coding pragma: # -*- coding: utf-8 -*-
      # - id: mixed-line-ending  # Replace or check mixed line ending
      #   args: ["--fix=lf"]
      - id: check-added-large-files
        exclude: images/
  - repo: https://github.com/ambv/black
    rev: 21.11b1
    hooks:
      - id: black
        language: python
        types: [python]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
  # - repo: https://gitlab.com/pycqa/flake8
  #   rev: 3.7.9
  #   hooks:
  #     - id: flake8
  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       args: ["--max-line-length=80", "--disable=E1101,R0912"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
